.container{
  // background-color: $light-grey;
  border:1px solid $light-grey;
  border-radius: 5px;
}

.container__header{
  border-bottom: 1px solid $light-grey;
  padding:1rem;

  label{
    cursor:pointer;
  }
  &:last-child{
    display: flex;
    align-items: center;
  }
}

.container__message{
  padding: 1rem;
  color:$light-color;
}

.container__todo{
  input{
    margin-right: 10px;
  }
}

.container__footer{
  border-top: 1px solid $light-grey;
  padding: 1rem 1rem 0 1rem;
}
