.todo{
  padding: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background .5s ease;
  > :first-child{
    input{
      margin-right: 10px;
    }
  }
  p{
    margin:0;
  }

  &:hover{
    background-color: $light-gray;
  }

}

.container__completed{
  color: $light-color;
  p{
    text-decoration: line-through;
  }
  .todo-dates{
    text-decoration: none;
  }

}

.todo-dates{
  color:$light-color;
}
